* {
  margin: 0px;
}
.card {
  position: relative;
  width: 350px;
  height: 200px;
  border-radius: 20px;
  border-color: #01080D;
  background-color: #01080D;
  color: #ad2e2e;
}
.card h1 {
  padding: 10px 10px;
  position: absolute;
  bottom: 0px;
}
.searchBar {
  padding: 10px 0px 0px 10px;
  position: relative;
  left: calc(50% - 255px);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.searchBar input[type="text"] {
  padding: 10px 2px 10px 2 px;
  font-size: 1.5em;
  width: 400px;
  height: 36px;
  color: #ad2e2e;
}
.searchBar Button {
  width: 100px;
  height: 25px;
}
.App .displayArea {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
