* {
    margin: 0px;
}

.card {
    position:relative;
    width:350px;
    height:200px;
    border-radius: 20px;
    border-color: @cardBase;
    // border-width: 5px 5px 5px 5px;
    background-color: @cardBase;
    color : @fontColor;
    h1 {
        padding: 10px 10px;
        position:absolute;
        bottom:0px;
    }
}